<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :email, class: 'control-label col-md-2' %>
    <div class='col-md-4'>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class='form-group'>
    <%= f.label :password, class: 'control-label col-md-2' %>
    <div class='col-md-4'>
      <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
      <p class='help-block'>
        (leave blank if you don't want to change it)
      </p>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :current_password, class: 'control-label col-md-2' %>
    <div class='col-md-4'>
      <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off' %>
      <p class='help-block'>
        (we need your current password to confirm your changes)
      </p>
    </div>
  </div>

  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>

<h3>Cancel my account</h3>

<p>
  Do you miss an important feature, had some trouble or just need a bit help to get started?
  Please get in touch so we can figure things out: <%= link_to('bjoernalbers@gmail.com',
                                          'mailto:bjoernalbers@gmail.com') %>
</p>

<p>
  <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
  <b>(Beware! This will delete your account and your complete DICOM nodelist!)</b>
</p>

<%= link_to 'Back', :back %>
