<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-inline'}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>

  <% password_placeholder = 'Password' %>
  <% if @validatable %>
    <% password_placeholder << " (lenght > #{@minimum_password_length})" %>
  <% end %>
  <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: password_placeholder %>
  <%= f.submit 'Sign up', class: 'btn btn-primary' %>
<% end %>

<%= render 'devise/shared/links' %>
