<%= form_for(@node, html: { class: 'form-inline' }) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  <%= f.text_field :aetitle, class: 'form-control', placeholder: 'Aetitle' %>
  <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
  <%= f.text_field :port, class: 'form-control', placeholder: 'Port' %>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
