<form role="form">
  <div class="form-group">
    <label for="name">Your custom nodelist URL for OsiriX</label>
    <input type="text" class="form-control" onclick="$(this).select();" value="<%= plist_url(current_user.api_key, protocol: 'https') %>" readonly>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Aetitle</th>
      <th>Address</th>
      <th>Port</th>
      <th>Transfer Syntax</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.name %></td>
        <td><%= node.aetitle %></td>
        <td><%= node.address %></td>
        <td><%= node.port %></td>
        <td><%= node.transfer_syntax.name %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Delete', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Node', new_node_path %>
