<h2>Nodes</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Aetitle</th>
      <th>Address</th>
      <th>Port</th>
      <th><%= Node.human_attribute_name :qr %></th>
      <th><%= Node.human_attribute_name :wado_port %></th>
      <th><%= Node.human_attribute_name :wado_transfer_syntax %></th>
      <th>Retrieve Mode</th>
      <th>Transfer Syntax</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.name %></td>
        <td><%= node.aetitle %></td>
        <td><%= node.address %></td>
        <td><%= node.port %></td>
        <td><input type="checkbox" disabled="disabled" <%= 'checked' if node.qr %>></td>
        <td><%= node.wado_port %></td>
        <td><%= node.wado_transfer_syntax_name %></td>
        <td><%= node.retrieve_mode_name %></td>
        <td><%= node.transfer_syntax_name %></td>
        <td><%= link_to 'Edit', edit_node_path(node) %></td>
        <td><%= link_to 'Delete', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Node', new_node_path, class: 'btn btn-primary' %>
