<div class='jumbotron text-center'>
  <h1>
    Secure DICOM Nodelist for <%= link_to 'OsiriX', 'http://www.osirix-viewer.com', title: 'The most advanced DICOM Viewer / Workstation on earth' %>
  </h1>
  <h2>
    Many OsiriX Workstations. Only <em>one</em> DICOM Nodelist to manage.
  </h2>
  <br>
  <p>
    <%= link_to 'Sign up for FREE', new_user_registration_url,
      class: 'btn btn-primary btn-lg' %>
  </p>
  <p>
    (Hurry: Only 99 BETA seats left! Antoine took the first.)
  </p>
</div>

<h2>
  The pain with multiple workstations
</h2>
<p class='lead'>
  Sure you love
  <%= link_to 'OsiriX', 'http://www.osirix-viewer.com',
    title: 'The most advanced DICOM Viewer / Workstation on earth' %>,
  the most advanced DICOM Viewer on earth.
  But setting up a new OsiriX workstation takes time: you manually have to
  type in your whole DICOM nodelist in order to transfer studies between your
  1st, 2nd,... and n-th PACS, the fancy disk robot, a few offsite
  locations and some other departments.
  And at the slighest nodelist change you're touching every workstation again.
  That's just boring repetitive work even a trained monkey could do.
  Save your valuable time for important stuff!
</p>

<h2>
  An overlooked feature of OsiriX
</h2>
<p class='lead'>
  What if you could manage only <em>one</em> nodelist and automagically keep
  all workstations up-to-date?
  Well, actually you can.
  OsiriX has this great feature to load a nodelist from a remote URL.
  There is only one downside:
  Self-hosting and updating such remote nodelist is a big project itself and
  quite the opposite of user-friendly (trust me, I've been there).
  No wonder that most people still manage their nodelists manually.
  Isn't there a simple way? Yes.
</p>
  
<h2>
  Keep it simpler
</h2>
<p class='lead'>
  <em>OsiriX Nodes</em> lets you manage your DICOM nodelist online with your
  browser, and makes it accessible to your workstations over a private and
  secure URL.
  Just <%= link_to 'sign up for free', new_user_registration_url %>, add your
  nodes and update your workstations to use the new URL.
  Done.
  Workstations will pick up nodelist updates instantly on each OsiriX restart.

  <blockquote class='lead'>
    <p>
      "Yes, this is a great idea!"
    </p>
    <footer>
      Antoine Rosset, Creator of OsiriX
    </footer>
  </blockquote>
</p>

<h2>
  Secure is secure is secure
</h2>
<p class='lead'>
  I care about your data as much as you do, even though a nodelist contains no
  sensitive data.
  All connections are forced over SSL-encrypted tunnels.
  And your worklist can only be downloaded over a private URL,
  protected by a unique and strong 128-bit key.
  (Some might say this is paranoid.)
</p>
<p>
  <a href="http://instantssl.com/ssl.html">
    <img alt="SSL" src="http://www.instantssl.com/ssl-certificate-images/support/comodo_secure_100x85_transp.png" />
  </a>
</p>

<h2>
  Questions?
</h2>
<p class='lead'>
  Got questions, feedback or just wanna say hi?
  Just drop a line to <%= support_email %>.
  I'm here to help.
</p>
