<!DOCTYPE html>
<html>
<head>
  <title>OsiriX Nodes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'OsiriX Nodes', root_url, class: 'navbar-brand' %>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= bootstrap_flash %>
      </div>
    </div>

    <div class="row">

       <%= yield %>

    </div>
  </div>
</body>
</html>
